<table>
  <thead [style.--number-of-columns]="tableConfig().length">
    <th>No.</th>
    @for(item of tableConfig();track $index){
    <th>{{ item.title }}</th>
    }
    <th>Actions</th>
  </thead>
  <tbody>
    @for(row of tableData(); track row.id; let index = $index){
    <tr [style.--number-of-columns]="tableConfig().length">
      <td>{{ index + 1 }}</td>
      @for(item of tableConfig(); track $index){
      <td>
        @if(item.computeValue){
        {{ item.computeValue(row) }}
        } @else {
        {{ row[item.modelProp] }}
        }
      </td>
      }
      <td>
        @for(action of actionsConfig; track $index){
        <button class="btn" [matTooltip]="action.tooltip" (click)="handleClick(action.type)">
          <img [src]="action.iconSrc" />
        </button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
