.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  padding: 20px;
  text-align: center;
}

.textarea {
  resize: vertical;
  min-height: 100px;
  width: 100%;
}

.field {
  margin: 15px;
  width: 100%;
}

.first-column,
.second-column {
  display: flex;
  flex-wrap: nowrap;
  width: 98%;
}

.third-column {
  width: 100%;
}

