<header class="header">
  <div>
    <p>ManageMe</p>
  </div>
  <nav class="nav">
    <ul class="nav__tabs">
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/projects']">
        <a>Projects</a>
      </li>
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/functionalities']">
        <a>Functionalities</a>
      </li>
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/tasks']">
        <a>Tasks</a>
      </li>
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/admin']">
        <a>Admin Panel</a>
      </li>
      <li class="nav__tabs--link" (click)="openNotificationModal()">
        <a>
          <button
            matBadge="{{ notifications.length }}"
            mat-mini-fab
            class="notifactions-button"
            matTooltip="Basket"
            matBadgeSize="medium"
          >
            <img
              class="notifactions-icon"
              src="/icons/notifications.svg"
              width="18"
              height="18"
              alt="Notifactions"
            /></button
        ></a>
      </li>
      <li class="nav__tabs--link">
        <a
          *ngIf="authorizationToken"
          class="nav__tabs--button"
          [routerLink]="['/login']"
          (click)="signOut()"
          >Sign Out</a
        >
      </li>
    </ul>
  </nav>
</header>
