<header class="header">
  <div>
    <p>ManageMe</p>
  </div>
  <nav class="nav">
    <ul class="nav__tabs">
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/projects']">
        <a>Projects</a>
      </li>
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/functionalities']">
        <a>Functionalities</a>
      </li>
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/tasks']">
        <a>Tasks</a>
      </li>
      <li class="nav__tabs--link" [routerLink]="['/authorized-user/admin']">
        <a>Admin Panel</a>
      </li>
      <a *ngIf="authorizationToken" [routerLink]="['/login']" (click)="signOut()"
        ><button class="nav__tabs--button">Sign Out</button></a
      >
    </ul>
  </nav>
</header>
