* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// variables
:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #0044ff;
}
